---
import Section from "@/components/Section.astro";
import {cv} from "@cv";
type Language = keyof typeof cv
const lang: Language = Astro.props.lang
const {summary} = cv[lang].basics;
---

<Section title={summary.title} >
<p>{summary.description}</p>
</Section>