---
import { i18n } from '@/i18n.ts';
const { lang } = Astro.props;
const { language } = i18n[lang as keyof typeof i18n];
const languageToGo = language === 'español' ? 'english' : 'español';
---

<button disabled={lang === 'es'} title={languageToGo}>
  <a class="menu-button" href="/">
    <strong>ES</strong>
  </a>
</button>
<button disabled={lang === 'en'} title={languageToGo}>
  <a class="menu-button" href="/en">
    <strong>EN</strong>
  </a>
</button>

<style>
  .menu-button {
    color: var(--bg-menu-button);
  }

  strong {
    font-weight: 900;
  }
</style>
