---
import FileDownload from '@/icons/FileDownload.astro'
import Print from '@/icons/Print.astro'
import Moon from '@/icons/Moon.astro'
import Sun from '@/icons/Sun.astro'
const {lang} = Astro.props
---

<header class="no-print">
<nav >
    <section>
        <button
        id="print"
        >
            <Print/>
        </button>
    <button>
    <a
        title="Download CV"
        href=`./public/${lang}/Javier Gonzalez - CV-${lang}.pdf`
        download="Javier Gonzalez - CV.pdf"
        target="_blank"
      >
       <FileDownload/>
      </a>
    </section>

    <section>
        <button>
            <Moon/>
        </button>
        <button>
            <Sun/>
        </button>
    </section>

    <section>
        <button
        disabled={lang==="es"}>
        <a href="/">
            Español
        </a> 
        </button>
        <button
        disabled={lang==="en"}>
        <a href="/en"
        >
            English
        </a>
        </button>
    </section>
   
   
</nav>
</header>
    <style>

        header {
            background-color: #ddd;
            padding:.5rem 1rem;
            position: fixed;
            width: 100%;
        }

        nav{
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 700px;
            margin: 0 auto;
        }

        button {
            height: 100%;
            width: 65px;
            color: #444;
            border-radius: 6px;
            border: 1px solid #666;
            /* background-color: transparent; */
        }

        button:hover {
            background-color: #ccc;
            cursor: pointer;
        }

        button:disabled {
            pointer-events: none;
        }

        a {
            color: #444;
        }


    </style>

    <script>
        const $print = document.querySelector('#print')
        $print?.addEventListener("click", ()=>{
            window.print()
        })
    </script>



