<nav id="navbar" class="no-print">
    <button>imprimir</button>
    <button data-download-button>descargar</button>
    <button>Espa침ol</button>
    <button>English</button>
    <button>Oscuro</button>
    <button>Claro</button>
</nav>


    <!-- // Importa m칩dulos npm.
    import confetti from 'canvas-confetti';
    // Encuentra nuestro componente en la p치gina.
    const buttons = document.querySelectorAll('[data-confetti-button]');
    // Agrega event listeners para disparar confetti cuando un bot칩n es clickeado.
    buttons.forEach((button) => {
      button.addEventListener('click', () => confetti());
    }); -->

    <style>

    </style>

<script >

// document.addEventListener('DOMContentLoaded', function() {
//     $downloadButton?.addEventListener('click', async function() {
 
  
// });
//     })



</script>


