---
import Menu from '@/components/Menu.astro'

interface Props {
	title: string;
	lang: string
}

const { title,lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Curriculum Vitae digital" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/JG_icon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Menu lang={lang}/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		background: #fff;
		letter-spacing: -0.025rem;
	}
	body, figure {
		margin: 0%;
		padding: 0%;
	}
	a {
		text-decoration: none;
	}
	ul {
		list-style: none;
		margin: 0%;
		padding: 0%;

	}
*, *::before, *::after {
	box-sizing: border-box;
}

h1, h2, h3, h4 {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #444;

}

h3 {
	font-size: 1.1rem;
}

h4 {
	font-size: 1rem;
	font-weight: 600;
	color: #666;
}

p {
	color: #333;
	font-size: .8rem;
	line-height: 1.3;
	text-wrap: pretty;
	margin-block: .5rem;
	margin: 0;
}

/*only for print elements  */
.print {
        display: none;
    }

	/* non printable elements */
.no-print {
        display: flex;

    }


@media print {
        .print {
            display: block;
        }

        .print span{
        display: block;
        font-size: .75rem;
        color: #444;
    }
        .no-print {
            display: none;
        }
    }


@media (prefers-color-schema: dark) {
	html {
		background: #13151a;
		color: #fff;
	}

	
}

</style>
